/*==================================================*/

header {
    background-color: #3E3E3E;
    color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;

    /* Desloca o elemento onde está inserido */
    position: relative;
}

/*==================================================*/
#logo {
    height: 52px;
    width: 52px;
    position: relative;
    z-index: 3;
}

nav ul {
    /* Remove os bullet points */
    list-style: none;

    display: flex;
    gap: 20px;
}

nav ul li a {
    /* Remove underline no link */
    text-decoration: none;
    
    padding: 8px 16px;
    color: #FFF;
}

nav ul li a:hover {
    border-bottom: solid 4px #70a340;
    background-color: #ffffff33;
}
/*===================================================*/

.menu-toggle {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.menu-icon {
    display: none;
    z-index: 3;
}

/*============= Responsividade ======================*/

@media screen and (max-width: 1024px) {
    header{
        justify-content: space-between;
        padding: 0 24px;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        color: #FFF;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-icon i{
        transition: transform 0.3s ease, opacity 0.3s ease;;
    }

    .menu-icon .icon-closed {
        display: none;
    }

    .menu-lateral {
        width: 260px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* Definindo efeito para deslixar menu para 100% esquerda */
        transform: translateX(-200%);

        transition: 0.3s ease;
        z-index: 2;
        padding: 90px 20px;
        background-color: #3E3E3E;
        box-shadow: 4px 0 12px rgba(0, 0, 0, 0.25);
    }

    /* Seleciona o meu-toggle pelo checkbox e procura um irmão(~) e aplica transição */
    .menu-toggle:checked ~ .menu-lateral {
        transform: translateX(0);
    }

    /* Seleciona o irmão IMEDIATAMWNTE após o checkbox clicado */
    .menu-toggle:checked + .menu-icon .icon-open {
        display: none;
    }

    .menu-toggle:checked + .menu-icon .icon-closed {
        display: block;
    }

    .menu-toggle:checked + .menu-icon {
        transform: rotate(180deg);
    }

    nav ul {
        flex-direction: column;
        gap: 24px;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }
}
