* {
    padding: 0;
    margin: 0;

    /* Define sobre o tamanho dos itens para evitar sobreposição*/
    box-sizing: border-box;

    font-family: Inter, Arial, sans-serif ;
    font-size: 16px;
    color: #FFF;
}

body {
    background-color: #1E1E1E;
}